<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" crossorigin src="/assets/vendor.995a312e.js"></script>
    <script type="module" crossorigin src="/assets/app.2ed33e8a.js"></script>
    <link rel="stylesheet" href="/assets/app.ca473573.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="Crude Oil Tank"
            url="http://192.168.170.87:9501/mqtt/4/log"
            :mqtt="{
                url: 'ws://192.168.170.87:9001',
                username: 'admin-autocot',
                password: 'Bumitama123!',
                topic: 'data/bga/digester/scmm',
                timefield: 'ts'
            }"
            :default-data="[{data: 'level_cot', text: 'LEVEL', range: [0, 100]},{data: 'temp_cot', text: 'TEMPERATUR', range: [0, 120]}]"
            :columns="[
                {data: 'level_cot', text: 'LEVEL', range: [0, 100]},
                {data: 'temp_cot', text: 'TEMPERATUR', range: [0, 120]},
                {data: 'hmcot_motor1', text: 'HM COT MOTOR 1'},
                {data: 'hmcot_motor2', text: 'HM COT MOTOR 2'},
                {data: 'hmcot_motor3', text: 'HM COT MOTOR 3'},
            ]"></trend-live>

        <trend-view 
            v-if="active == 'history'"
            title="Crude Oil Tank"
            url="http://192.168.170.87:9501/trend/4/data"
            :default-data="[{data: 'level_cot', text: 'LEVEL', range: [0, 100]},{data: 'temp_cot', text: 'TEMPERATUR', range: [0, 120]}]"
            :columns="[
                {data: 'level_cot', text: 'LEVEL', range: [0, 100]},
                {data: 'temp_cot', text: 'TEMPERATUR', range: [0, 120]},
                {data: 'hmcot_motor1', text: 'HM COT MOTOR 1'},
                {data: 'hmcot_motor2', text: 'HM COT MOTOR 2'},
                {data: 'hmcot_motor3', text: 'HM COT MOTOR 3'},
            ]"></trend-view>

    </div>
    
</body>
</html>