<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  <script type="module" crossorigin src="/assets/vendor.995a312e.js"></script>
  <script type="module" crossorigin src="/assets/app.da4f50b9.js"></script>
  <link rel="stylesheet" href="/assets/app.ca473573.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="Nut Silo"
            url="http://192.168.170.87:9501/mqtt/5/log"
            :mqtt="{
                url: 'ws://192.168.170.87:9001',
                username: 'admin-autocot',
                password: 'Bumitama123!',
                topic: 'data/bga/nutkernel/scmm',
                timefield: 'ts'
            }"
            :default-data="[{data: 'level_nutsilo1', text: 'LEVEL NUT SILO 01'},]"
            :columns="[
                {data: 'level_nutsilo1', text: 'LEVEL NUT SILO 01'},
                {data: 'temp1_nutsilo1', text: 'TEMPERATURE#1 NUT SILO 01'},
                {data: 'temp2_nutsilo1', text: 'TEMPERATURE#2 NUT SILO 01'},
                {data: 'temp3_nutsilo1', text: 'TEMPERATURE#3 NUT SILO 01'},
                {data: 'level_nutsilo2', text: 'LEVEL NUT SILO 02'},
                {data: 'temp1_nutsilo2', text: 'TEMPERATURE#1 NUT SILO 02'},
                {data: 'temp2_nutsilo2', text: 'TEMPERATURE#2 NUT SILO 02'},
                {data: 'temp3_nutsilo2', text: 'TEMPERATURE#3 NUT SILO 02'},
                {data: 'hm_nutsilo3', text: 'HM NUT SILO 03'}, 
                {data: 'hm_nutsilo4', text: 'HM NUT SILO 04'},
            ]"></trend-live>
             
        <trend-view 
            v-if="active == 'history'"
            title="Nut Silo"
            url="http://192.168.170.87:9501/trend/5/data"
            :default-data="[{data: 'level_nutsilo1', text: 'LEVEL NUT SILO 01'},]"
            :columns="[
                {data: 'level_nutsilo1', text: 'LEVEL NUT SILO 01'},
                {data: 'temp1_nutsilo1', text: 'TEMPERATURE#1 NUT SILO 01'},
                {data: 'temp2_nutsilo1', text: 'TEMPERATURE#2 NUT SILO 01'},
                {data: 'temp3_nutsilo1', text: 'TEMPERATURE#3 NUT SILO 01'},
                {data: 'level_nutsilo2', text: 'LEVEL NUT SILO 02'},
                {data: 'temp1_nutsilo2', text: 'TEMPERATURE#1 NUT SILO 02'},
                {data: 'temp2_nutsilo2', text: 'TEMPERATURE#2 NUT SILO 02'},
                {data: 'temp3_nutsilo2', text: 'TEMPERATURE#3 NUT SILO 02'},
                {data: 'hm_nutsilo3', text: 'HM NUT SILO 03'}, 
                {data: 'hm_nutsilo4', text: 'HM NUT SILO 04'},
            ]"></trend-view>
    </div>
    
</body>
</html>