<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  <script type="module" crossorigin src="/assets/vendor.a3c19d1b.js"></script>
  <script type="module" crossorigin src="/assets/app.66c7d587.js"></script>
  <link rel="stylesheet" href="/assets/app.ca473573.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="Kernel Silo"
            url="http://192.168.170.87:9501/mqtt/5/log"
            :mqtt="{
                url: 'ws://192.168.170.87:9001',
                username: 'admin-autocot',
                password: 'Bumitama123!',
                topic: 'data/bga/nutkernel/scmm',
                timefield: 'ts'
            }"
            :default-data="[
                {data: 'level_kernelsilo1', text: 'LEVEL KERNEL SILO 01'},
                {data: 'temp1_kernelsilo1', text: 'TEMPERATURE#1 KERNEL SILO 01'},
                {data: 'temp2_kernelsilo1', text: 'TEMPERATURE#2 KERNEL SILO 01'},
                {data: 'temp3_kernelsilo1', text: 'TEMPERATURE#3 KERNEL SILO 01'}, 
            ]"
            :columns="[
                {data: 'level_kernelsilo1', text: 'LEVEL KERNEL SILO 01'},
                {data: 'temp1_kernelsilo1', text: 'TEMPERATURE#1 KERNEL SILO 01'},
                {data: 'temp2_kernelsilo1', text: 'TEMPERATURE#2 KERNEL SILO 01'},
                {data: 'temp3_kernelsilo1', text: 'TEMPERATURE#3 KERNEL SILO 01'}, 
                {data: 'level_kernelsilo2', text: 'LEVEL KERNEL SILO 02'},
                {data: 'temp1_kernelsilo2', text: 'TEMPERATURE#1 KERNEL SILO 02'},
                {data: 'temp2_kernelsilo2', text: 'TEMPERATURE#2 KERNEL SILO 02'},
                {data: 'temp3_kernelsilo2', text: 'TEMPERATURE#3 KERNEL SILO 02'}, 
                {data: 'level_kernelsilo3', text: 'LEVEL KERNEL SILO 03'},
                {data: 'temp1_kernelsilo3', text: 'TEMPERATURE#1 KERNEL SILO 03'},
                {data: 'temp2_kernelsilo3', text: 'TEMPERATURE#2 KERNEL SILO 03'},
                {data: 'temp3_kernelsilo3', text: 'TEMPERATURE#3 KERNEL SILO 03'}, 
                {data: 'level_kernelsilo4', text: 'LEVEL KERNEL SILO 04'},
                {data: 'temp1_kernelsilo4', text: 'TEMPERATURE#1 KERNEL SILO 04'},
                {data: 'temp2_kernelsilo4', text: 'TEMPERATURE#2 KERNEL SILO 04'},
                {data: 'temp3_kernelsilo4', text: 'TEMPERATURE#3 KERNEL SILO 04'},
                {data: 'hm_kernelsilo1', text: 'HM KERNEL SILO 01'}, 
                {data: 'hm_kernelsilo2', text: 'HM KERNEL SILO 02'}, 
                {data: 'hm_kernelsilo3', text: 'HM KERNEL SILO 03'}, 
                {data: 'hm_kernelsilo4', text: 'HM KERNEL SILO4'}, 
            ]"></trend-live>
             
        <trend-view 
            v-if="active == 'history'"
            title="Kernel Silo"
            url="http://192.168.170.87:9501/trend/5/data"
            :default-data="[
                {data: 'level_kernelsilo1', text: 'LEVEL KERNEL SILO 01'},
                {data: 'temp1_kernelsilo1', text: 'TEMPERATURE#1 KERNEL SILO 01'},
                {data: 'temp2_kernelsilo1', text: 'TEMPERATURE#2 KERNEL SILO 01'},
                {data: 'temp3_kernelsilo1', text: 'TEMPERATURE#3 KERNEL SILO 01'}, 
            ]"
            :columns="[
                {data: 'level_kernelsilo1', text: 'LEVEL KERNEL SILO 01'},
                {data: 'temp1_kernelsilo1', text: 'TEMPERATURE#1 KERNEL SILO 01'},
                {data: 'temp2_kernelsilo1', text: 'TEMPERATURE#2 KERNEL SILO 01'},
                {data: 'temp3_kernelsilo1', text: 'TEMPERATURE#3 KERNEL SILO 01'}, 
                {data: 'level_kernelsilo2', text: 'LEVEL KERNEL SILO 02'},
                {data: 'temp1_kernelsilo2', text: 'TEMPERATURE#1 KERNEL SILO 02'},
                {data: 'temp2_kernelsilo2', text: 'TEMPERATURE#2 KERNEL SILO 02'},
                {data: 'temp3_kernelsilo2', text: 'TEMPERATURE#3 KERNEL SILO 02'}, 
                {data: 'level_kernelsilo3', text: 'LEVEL KERNEL SILO 03'},
                {data: 'temp1_kernelsilo3', text: 'TEMPERATURE#1 KERNEL SILO 03'},
                {data: 'temp2_kernelsilo3', text: 'TEMPERATURE#2 KERNEL SILO 03'},
                {data: 'temp3_kernelsilo3', text: 'TEMPERATURE#3 KERNEL SILO 03'}, 
                {data: 'level_kernelsilo4', text: 'LEVEL KERNEL SILO 04'},
                {data: 'temp1_kernelsilo4', text: 'TEMPERATURE#1 KERNEL SILO 04'},
                {data: 'temp2_kernelsilo4', text: 'TEMPERATURE#2 KERNEL SILO 04'},
                {data: 'temp3_kernelsilo4', text: 'TEMPERATURE#3 KERNEL SILO 04'},
                {data: 'hm_kernelsilo1', text: 'HM KERNEL SILO 01'}, 
                {data: 'hm_kernelsilo2', text: 'HM KERNEL SILO 02'}, 
                {data: 'hm_kernelsilo3', text: 'HM KERNEL SILO 03'}, 
                {data: 'hm_kernelsilo4', text: 'HM KERNEL SILO4'},
            ]"></trend-view>
    </div>
    
</body>
</html>