<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  <script type="module" crossorigin src="/assets/vendor.995a312e.js"></script>
  <script type="module" crossorigin src="/assets/app.da4f50b9.js"></script>
  <link rel="stylesheet" href="/assets/app.ca473573.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="Station Clarification"
            url="http://192.168.170.87:9501/mqtt/3/log"
            :mqtt="{
                url: 'ws://192.168.170.87:9001',
                username: 'admin-autocot',
                password: 'Bumitama123!',
                topic: 'data/bga/clarification/scmm',
                timefield: 'ts'
            }"
            :default-data="[{data: 'level_oiltank1', text: 'LEVEL OIL TANK 01'}]"
            :columns="[
                {data: 'level_oiltank1', text: 'LEVEL OIL TANK 01'},
                {data: 'level_oiltank2', text: 'LEVEL OIL TANK 02'},
                {data: 'temp_cst1', text: 'TEMPERATURE CST 01'},
                {data: 'temp_cst2', text: 'TEMPERATURE CST 02'}, 
                {data: 'temp_sludge1', text: 'TEMPERATURE SLUDGE 01'},
                {data: 'temp_sludge2', text: 'TEMPERATURE SLUDGE 02'},
                {data: 'temp_oiltank1', text: 'TEMPERATURE OIL TANK 01'},
                {data: 'temp_oiltank2', text: 'TEMPERATURE OIL TANK 02'},
                {data: 'temp_buffertank', text: 'TEMPERATURE BUFFER TANK'},
                {data: 'level_buffertank', text: 'LEVEL BUFFER TANK'},
                {data: 'hm_cst1', text: 'HM CST 1'},
                {data: 'hm_cst2', text: 'HM CST 2'},
                {data: 'hm_oilpump1', text: 'HM OIL PUMP 1'},
                {data: 'hm_oilpump2', text: 'HM OIL PUMP 2'},
            ]"></trend-live>
             
        <trend-view 
            v-if="active == 'history'"
            title="Clarification Station"
            url="http://192.168.170.87:9501/trend/3/data"
            :default-data="[{data: 'level_oiltank1', text: 'LEVEL OIL TANK 01'}]"
            :columns="[
                {data: 'level_oiltank1', text: 'LEVEL OIL TANK 01'},
                {data: 'level_oiltank2', text: 'LEVEL OIL TANK 02'},
                {data: 'temp_cst1', text: 'TEMPERATURE CST 01'},
                {data: 'temp_cst2', text: 'TEMPERATURE CST 02'}, 
                {data: 'temp_sludge1', text: 'TEMPERATURE SLUDGE 01'},
                {data: 'temp_sludge2', text: 'TEMPERATURE SLUDGE 02'},
                {data: 'temp_oiltank1', text: 'TEMPERATURE OIL TANK 01'},
                {data: 'temp_oiltank2', text: 'TEMPERATURE OIL TANK 02'},
                {data: 'temp_buffertank', text: 'TEMPERATURE BUFFER TANK'},
                {data: 'level_buffertank', text: 'LEVEL BUFFER TANK'},
                {data: 'hm_cst1', text: 'HM CST 1'},
                {data: 'hm_cst2', text: 'HM CST 2'},
                {data: 'hm_oilpump1', text: 'HM OIL PUMP 1'},
                {data: 'hm_oilpump2', text: 'HM OIL PUMP 2'},
            ]"></trend-view>
    </div>
    
</body>
</html>