<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  <script type="module" crossorigin src="/assets/vendor.a3c19d1b.js"></script>
  <script type="module" crossorigin src="/assets/app.04a983c4.js"></script>
  <link rel="stylesheet" href="/assets/app.ca473573.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="Sand Cyclone"
            url="http://192.168.170.87:9501/mqtt/3/log"
            :mqtt="{
                url: 'ws://192.168.170.87:9001',
                username: 'admin-autocot',
                password: 'Bumitama123!',
                topic: 'data/bga/clarification/scmm',
                timefield: 'ts'
            }"
            :default-data="[
                {data: 'inlet_cyclone1', text: 'INLET CYCLONE 01'},
                {data: 'outlet_cyclone1', text: 'OUTLET CYCLONE 01'}, 
                {data: 'hm_cyclone1', text: 'HM CYCLONE 01'},
            ]"
            :columns="[
                {data: 'inlet_cyclone1', text: 'INLET CYCLONE 01'},
                {data: 'outlet_cyclone1', text: 'OUTLET CYCLONE 01'}, 
                {data: 'inlet_cyclone2', text: 'INLET CYCLONE 02'},
                {data: 'outlet_cyclone2', text: 'OUTLET CYCLONE 02'}, 
                {data: 'Inlet_cyclone3', text: 'INLET CYCLONE 03'},
                {data: 'outlet_cyclone3', text: 'OUTLET CYCLONE 03'}, 
                {data: 'inlet_cyclone4', text: 'INLET CYCLONE 04'},
                {data: 'outlet_cyclone4', text: 'OUTLET CYCLONE 04'}, 
                {data: 'hm_cyclone1', text: 'HM CYCLONE 01'},
                {data: 'hm_cyclone2', text: 'HM CYCLONE 02'},
                {data: 'hm_cyclone3', text: 'HM CYCLONE 03'},
                {data: 'hm_cyclone4', text: 'HM CYCLONE 04'},
            ]"></trend-live>
        <trend-view 
            v-if="active == 'history'"
            title="Sand Cyclone"
            url="http://192.168.170.87:9501/trend/3/data"
            :default-data="[
                {data: 'inlet_cyclone1', text: 'INLET CYCLONE 01'},
                {data: 'outlet_cyclone1', text: 'OUTLET CYCLONE 01'}, 
                {data: 'hm_cyclone1', text: 'HM CYCLONE 01'},
            ]"
            :columns="[
                {data: 'inlet_cyclone1', text: 'INLET CYCLONE 01'},
                {data: 'outlet_cyclone1', text: 'OUTLET CYCLONE 01'}, 
                {data: 'inlet_cyclone2', text: 'INLET CYCLONE 02'},
                {data: 'outlet_cyclone2', text: 'OUTLET CYCLONE 02'}, 
                {data: 'Inlet_cyclone3', text: 'INLET CYCLONE 03'},
                {data: 'outlet_cyclone3', text: 'OUTLET CYCLONE 03'}, 
                {data: 'inlet_cyclone4', text: 'INLET CYCLONE 04'},
                {data: 'outlet_cyclone4', text: 'OUTLET CYCLONE 04'}, 
                {data: 'hm_cyclone1', text: 'HM CYCLONE 01'},
                {data: 'hm_cyclone2', text: 'HM CYCLONE 02'},
                {data: 'hm_cyclone3', text: 'HM CYCLONE 03'},
                {data: 'hm_cyclone4', text: 'HM CYCLONE 04'},
            ]"></trend-view>

    </div>
    
</body>
</html>