<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script type="module" crossorigin src="/assets/vendor.60f6099b.js"></script>
    <script type="module" crossorigin src="/assets/app.d4cbeaa0.js"></script>
    <link rel="stylesheet" href="/assets/app.5660bab4.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="Sludge Centrifudge"
            url="http://192.168.170.87:9501/mqtt/3/log"
            :mqtt="{
                url: 'ws://192.168.170.87:9001',
                username: 'admin-autocot',
                password: 'Bumitama123!',
                topic: 'data/bga/clarification/scmm',
                timefield: 'ts'
            }"
            :default-data="[
                {data: 'amp_sludge1', text: 'AMPERE SLUDGE 01', range: [0, 50], group: 'Sludge No.1'},
                {data: 'rpm_sludge1', text: 'RPM SLUDGE 01', range: [0, 2000], group: 'Sludge No.1'},
                {data: 'hm_sludge1', text: 'HM SLUDGE 01', group: 'Sludge No.1'},
            ]"
            :columns="[
                {data: 'amp_sludge1', text: 'AMPERE SLUDGE 01', range: [0, 50], group: 'Sludge No.1'},
                {data: 'amp_sludge2', text: 'AMPERE SLUDGE 02', range: [0, 50], group: 'Sludge No.2'},
                {data: 'amp_sludge3', text: 'AMPERE SLUDGE 03', range: [0, 50], group: 'Sludge No.3'},
                {data: 'amp_sludge4', text: 'AMPERE SLUDGE 04', range: [0, 50], group: 'Sludge No.4'},
                {data: 'amp_sludge5', text: 'AMPERE SLUDGE 05', range: [0, 50], group: 'Sludge No.5'},
                {data: 'amp_sludge6', text: 'AMPERE SLUDGE 06', range: [0, 50], group: 'Sludge No.6'},
                {data: 'rpm_sludge1', text: 'RPM SLUDGE 01', range: [0, 2000], group: 'Sludge No.1'},
                {data: 'rpm_sludge2', text: 'RPM SLUDGE 02', range: [0, 2000], group: 'Sludge No.2'},
                {data: 'rpm_sludge3', text: 'RPM SLUDGE 03', range: [0, 2000], group: 'Sludge No.3'},
                {data: 'rpm_sludge4', text: 'RPM SLUDGE 04', range: [0, 2000], group: 'Sludge No.4'},
                {data: 'rpm_sludge5', text: 'RPM SLUDGE 05', range: [0, 2000], group: 'Sludge No.5'},
                {data: 'rpm_sludge6', text: 'RPM SLUDGE 06', range: [0, 2000], group: 'Sludge No.6'},
                {data: 'hm_sludge1', text: 'HM SLUDGE 01', group: 'Sludge No.1'},
                {data: 'hm_sludge2', text: 'HM SLUDGE 02', group: 'Sludge No.2'},
                {data: 'hm_sludge3', text: 'HM SLUDGE 03', group: 'Sludge No.3'},
                {data: 'hm_sludge4', text: 'HM SLUDGE 04', group: 'Sludge No.4'},
                {data: 'hm_sludge5', text: 'HM SLUDGE 05', group: 'Sludge No.5'},
                {data: 'hm_sludge6', text: 'HM SLUDGE 06', group: 'Sludge No.6'},
            ]"></trend-live>
             
        <trend-view 
            v-if="active == 'history'"
            title="Sludge Centrifudge"
            url="http://192.168.170.87:9501/trend/3/data"
            :default-data="[
                {data: 'amp_sludge1', text: 'AMPERE SLUDGE 01', range: [0, 50], group: 'Sludge No.1'},
                {data: 'rpm_sludge1', text: 'RPM SLUDGE 01', range: [0, 2000], group: 'Sludge No.1'},
                {data: 'hm_sludge1', text: 'HM SLUDGE 01', group: 'Sludge No.1'},
            ]"
            :columns="[
                {data: 'amp_sludge1', text: 'AMPERE SLUDGE 01', range: [0, 50], group: 'Sludge No.1'},
                {data: 'amp_sludge2', text: 'AMPERE SLUDGE 02', range: [0, 50], group: 'Sludge No.2'},
                {data: 'amp_sludge3', text: 'AMPERE SLUDGE 03', range: [0, 50], group: 'Sludge No.3'},
                {data: 'amp_sludge4', text: 'AMPERE SLUDGE 04', range: [0, 50], group: 'Sludge No.4'},
                {data: 'amp_sludge5', text: 'AMPERE SLUDGE 05', range: [0, 50], group: 'Sludge No.5'},
                {data: 'amp_sludge6', text: 'AMPERE SLUDGE 06', range: [0, 50], group: 'Sludge No.6'},
                {data: 'rpm_sludge1', text: 'RPM SLUDGE 01', range: [0, 2000], group: 'Sludge No.1'},
                {data: 'rpm_sludge2', text: 'RPM SLUDGE 02', range: [0, 2000], group: 'Sludge No.2'},
                {data: 'rpm_sludge3', text: 'RPM SLUDGE 03', range: [0, 2000], group: 'Sludge No.3'},
                {data: 'rpm_sludge4', text: 'RPM SLUDGE 04', range: [0, 2000], group: 'Sludge No.4'},
                {data: 'rpm_sludge5', text: 'RPM SLUDGE 05', range: [0, 2000], group: 'Sludge No.5'},
                {data: 'rpm_sludge6', text: 'RPM SLUDGE 06', range: [0, 2000], group: 'Sludge No.6'},
                {data: 'hm_sludge1', text: 'HM SLUDGE 01', group: 'Sludge No.1'},
                {data: 'hm_sludge2', text: 'HM SLUDGE 02', group: 'Sludge No.2'},
                {data: 'hm_sludge3', text: 'HM SLUDGE 03', group: 'Sludge No.3'},
                {data: 'hm_sludge4', text: 'HM SLUDGE 04', group: 'Sludge No.4'},
                {data: 'hm_sludge5', text: 'HM SLUDGE 05', group: 'Sludge No.5'},
                {data: 'hm_sludge6', text: 'HM SLUDGE 06', group: 'Sludge No.6'},
            ]"></trend-live>

    </div>
    
</body>
</html>