<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  <script type="module" crossorigin src="/assets/vendor.94e771bd.js"></script>
  <script type="module" crossorigin src="/assets/app.1471772d.js"></script>
  <link rel="stylesheet" href="/assets/app.ca473573.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="Recovery Pit"
            url="http://192.168.170.87:9501/mqtt/3/log"
            :mqtt="{
                url: 'ws://192.168.170.87:9001',
                username: 'admin-autocot',
                password: 'Bumitama123!',
                topic: 'data/bga/clarification/scmm',
                timefield: 'ts'
            }"
            :default-data="[
                {data: 'temp_inlet_recpit', text: 'TEMPERATURE INLET RECPIT'},
                {data: 'temp_center_recpit', text: 'TEMPERATURE CENTER RECPIT'},
                {data: 'temp_outlet_recpit', text: 'TEMPERATURE OUTLET RECPIT'},
            ]"
            :columns="[
                {data: 'temp_inlet_recpit', text: 'TEMPERATURE INLET RECPIT'},
                {data: 'temp_center_recpit', text: 'TEMPERATURE CENTER RECPIT'},
                {data: 'temp_outlet_recpit', text: 'TEMPERATURE OUTLET RECPIT'},
            ]"></trend-live>

        <trend-view 
            v-if="active == 'history'"
            title="Recovery Pit"
            url="http://192.168.170.87:9501/trend/3/data"
            :default-data="[
                {data: 'temp_inlet_recpit', text: 'TEMPERATURE INLET RECPIT'},
                {data: 'temp_center_recpit', text: 'TEMPERATURE CENTER RECPIT'},
                {data: 'temp_outlet_recpit', text: 'TEMPERATURE OUTLET RECPIT'},
            ]"
            :columns="[
                {data: 'temp_inlet_recpit', text: 'TEMPERATURE INLET RECPIT'},
                {data: 'temp_center_recpit', text: 'TEMPERATURE CENTER RECPIT'},
                {data: 'temp_outlet_recpit', text: 'TEMPERATURE OUTLET RECPIT'},
            ]"></trend-view>

    </div>
    
</body>
</html>