<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  <script type="module" crossorigin src="/assets/vendor.3bd57d60.js"></script>
  <script type="module" crossorigin src="/assets/app.5b9a199d.js"></script>
  <link rel="stylesheet" href="/assets/app.c316c2cb.css">
</head>
<body>
    <div id="app">
        <div class="section-tool">
            <div class="control-group">
                <label for="live">
                    <input type="radio" name="mode" id="live" value="live" :checked="active == null" @click="active = 'live'">
                    <span>Live Trend</span>
                </label>
            </div>
            <div class="control-group">
                <label for="history">
                    <input type="radio" name="mode" id="history" value="history" :checked="active == 'history'" @click="active = 'history'">
                    <span>Historical Trend</span>
                </label>
            </div>
        </div>
        <trend-live 
            v-if="active == null || active == 'live'"
            title="Oil Storage Tank"
            url="http://192.168.170.87:9501/mqtt/16/log"
            :mqtt="{
                url: 'ws://192.168.170.87:9001',
                username: 'admin-autocot',
                password: 'Bumitama123!',
                topic: 'data/bga/atg/trym/calculate',
                timefield: 'terminal_time'
            }"
            :default-data="[
                {data: 'level_tank1', text: 'Level Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp1_tank1', text: 'Temp. 1 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp2_tank1', text: 'Temp. 2 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp3_tank1', text: 'Temp. 3 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp4_tank1', text: 'Temp. 4 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp5_tank1', text: 'Temp. 5 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp6_tank1', text: 'Temp. 6 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp7_tank1', text: 'Temp. 7 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp8_tank1', text: 'Temp. 8 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'avg_temp1', text: 'AVG Temp. Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'meter_tank1', text: 'Height Oil Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'volume_tank1', text: 'Volume Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'factor_corection_tank1', text: 'FK Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'density_tank1', text: 'DS Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'stock_cpo_tank1', text: 'CPO Tank 1', group: 'Oil Storage Tank 1'},
                
            ]"
            :columns="[
                {data: 'level_tank1', text: 'Level Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp1_tank1', text: 'Temp. 1 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp2_tank1', text: 'Temp. 2 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp3_tank1', text: 'Temp. 3 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp4_tank1', text: 'Temp. 4 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp5_tank1', text: 'Temp. 5 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp6_tank1', text: 'Temp. 6 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp7_tank1', text: 'Temp. 7 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp8_tank1', text: 'Temp. 8 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'avg_temp1', text: 'AVG Temp. Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'meter_tank1', text: 'Height Oil Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'volume_tank1', text: 'Volume Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'factor_corection_tank1', text: 'FK Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'density_tank1', text: 'DS Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'stock_cpo_tank1', text: 'CPO Tank 1', group: 'Oil Storage Tank 1'},
                
                {data: 'level_tank2', text: 'Level Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp1_tank2', text: 'Temp. 1 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp2_tank2', text: 'Temp. 2 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp3_tank2', text: 'Temp. 3 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp4_tank2', text: 'Temp. 4 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp5_tank2', text: 'Temp. 5 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp6_tank2', text: 'Temp. 6 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp7_tank2', text: 'Temp. 7 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp8_tank2', text: 'Temp. 8 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'avg_temp2', text: 'AVG Temp. Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'meter_tank2', text: 'Height Oil Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'volume_tank2', text: 'Volume Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'factor_corection_tank2', text: 'FK Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'density_tank2', text: 'DS Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'stock_cpo_tank2', text: 'CPO Tank 2', group: 'Oil Storage Tank 2'},

                {data: 'level_tank3', text: 'Level Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp1_tank3', text: 'Temp. 1 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp2_tank3', text: 'Temp. 2 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp3_tank3', text: 'Temp. 3 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp4_tank3', text: 'Temp. 4 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp5_tank3', text: 'Temp. 5 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp6_tank3', text: 'Temp. 6 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp7_tank3', text: 'Temp. 7 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp8_tank3', text: 'Temp. 8 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'avg_temp3', text: 'AVG Temp. Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'meter_tank3', text: 'Height Oil Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'volume_tank3', text: 'Volume Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'factor_corection_tank3', text: 'FK Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'density_tank3', text: 'DS Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'stock_cpo_tank3', text: 'CPO Tank 3', group: 'Oil Storage Tank 3'},
                
            ]"></trend-live>
             
        <trend-view 
            v-if="active == 'history'"
            title="Oil Storage Tank"
            url="http://192.168.170.87:9501/trend/16/data"
            :default-data="[
                {data: 'level_tank1', text: 'Level Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp1_tank1', text: 'Temp. 1 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp2_tank1', text: 'Temp. 2 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp3_tank1', text: 'Temp. 3 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp4_tank1', text: 'Temp. 4 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp5_tank1', text: 'Temp. 5 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp6_tank1', text: 'Temp. 6 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp7_tank1', text: 'Temp. 7 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp8_tank1', text: 'Temp. 8 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'avg_temp1', text: 'AVG Temp. Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'meter_tank1', text: 'Height Oil Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'volume_tank1', text: 'Volume Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'factor_corection_tank1', text: 'FK Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'density_tank1', text: 'DS Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'stock_cpo_tank1', text: 'CPO Tank 1', group: 'Oil Storage Tank 1'},
                
            ]"
            :columns="[
                {data: 'level_tank1', text: 'Level Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp1_tank1', text: 'Temp. 1 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp2_tank1', text: 'Temp. 2 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp3_tank1', text: 'Temp. 3 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp4_tank1', text: 'Temp. 4 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp5_tank1', text: 'Temp. 5 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp6_tank1', text: 'Temp. 6 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp7_tank1', text: 'Temp. 7 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'temp8_tank1', text: 'Temp. 8 Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'avg_temp1', text: 'AVG Temp. Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'meter_tank1', text: 'Height Oil Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'volume_tank1', text: 'Volume Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'factor_corection_tank1', text: 'FK Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'density_tank1', text: 'DS Tank 1', group: 'Oil Storage Tank 1'},
                {data: 'stock_cpo_tank1', text: 'CPO Tank 1', group: 'Oil Storage Tank 1'},
                
                {data: 'level_tank2', text: 'Level Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp1_tank2', text: 'Temp. 1 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp2_tank2', text: 'Temp. 2 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp3_tank2', text: 'Temp. 3 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp4_tank2', text: 'Temp. 4 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp5_tank2', text: 'Temp. 5 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp6_tank2', text: 'Temp. 6 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp7_tank2', text: 'Temp. 7 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'temp8_tank2', text: 'Temp. 8 Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'avg_temp2', text: 'AVG Temp. Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'meter_tank2', text: 'Height Oil Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'volume_tank2', text: 'Volume Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'factor_corection_tank2', text: 'FK Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'density_tank2', text: 'DS Tank 2', group: 'Oil Storage Tank 2'},
                {data: 'stock_cpo_tank2', text: 'CPO Tank 2', group: 'Oil Storage Tank 2'},

                {data: 'level_tank3', text: 'Level Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp1_tank3', text: 'Temp. 1 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp2_tank3', text: 'Temp. 2 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp3_tank3', text: 'Temp. 3 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp4_tank3', text: 'Temp. 4 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp5_tank3', text: 'Temp. 5 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp6_tank3', text: 'Temp. 6 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp7_tank3', text: 'Temp. 7 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'temp8_tank3', text: 'Temp. 8 Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'avg_temp3', text: 'AVG Temp. Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'meter_tank3', text: 'Height Oil Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'volume_tank3', text: 'Volume Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'factor_corection_tank3', text: 'FK Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'density_tank3', text: 'DS Tank 3', group: 'Oil Storage Tank 3'},
                {data: 'stock_cpo_tank3', text: 'CPO Tank 3', group: 'Oil Storage Tank 3'},
                
            ]"></trend-view>
    </div>
    
</body>
</html>